body {
  background: lightblue;
  margin: 0;
}

.container {
  width: 150px;
  height: 150px;
  padding: 10px;
  background: white;
  font-size: 48px;

  //   Box model
  box-sizing: border-box;

  /* Overflowing */
  overflow: auto; // Recommended if they are needed.
}
