body {
  background: lightblue;
  margin: 0;
}

.container {
  width: 150px;
  height: 250px;
  padding: 10px;
  background: white;
  font-size: 48px;

  //   Box model
  box-sizing: border-box;

  /* Overflowing */
  overflow: hidden; // Recommended if they are needed.

  /* How to treat overflow when i t's about text */
  text-overflow: ellipsis;
}
