h1,
div,
p {
  border: 1px solid cornflowerblue;
  text-align: center;
  display: block;
  padding: 10px;
}

h1 {
  // Replaces display: block; and takes priority over other properties

  display: none;
  //   visibility: hidden;
}

span {
  display: inline;
  border: 1px solid red;
  padding: 2px;
}

a {
  display: block;
  border: 1px solid turquoise;
}

ul {
  display: inline-block;

  li {
    display: inline;
  }
}
