// Main colors
$html: #e44d26;
$css: #254bdd;

// Primary
$background: #55423d;
$headline: #ffe;
$paragraph: #fff3ec;

// table
$stroke: #140d0d;
$main: #fff3ec;
$highlight: #e78fb3;
$secondary: #ffc0ad;
$tertiary: #9656a1;
