@import "colors";
@import "mixins";

body {
  background-color: $background;
  color: $paragraph;
  margin: 5% 10%;
  font-family: "open sans", sans-serif;
}

header {
  @include containerBox;

  width: 100%;
  margin-bottom: 3em;

  & .title-container {
    width: 40%;

    & h1.title {
      color: $headline;
      font: {
        size: 64px;
        family: "Gugi", monospace;
        weight: 400;
      }
      text-align: left;
      text-shadow: 1px -1px 0px $stroke;
    }
  }

  & .tech {
    width: 60%;

    & ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      gap: 0.75em;

      & li {
        & img {
          width: 64px;
        }
      }
    }
  }
}

main {
  width: 100%;

  & .container {
    @include containerBox;
    margin: 1em 0;

    & .subtitle {
      width: 40%;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      font: {
        size: 32px;
        family: sans-serif;
      }
    }

    & .content {
      width: 60%;
      margin: 1em 0 1em;

      & h3 {
        background-color: $secondary-transparent;
        padding: 1em;
        border: 2px solid $stroke;
        border-radius: 2px;
        color: $paragraph-dark;
        text-align: center;
        margin: 2em 10em 2em;

        font: {
          size: 18px;
          family: "Gugi", monospace;
        }
      }
    }
  }
}

// Table styles
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $stroke;
  border-radius: 2px;

  & thead {
    background-color: $background-lighter;

    & th {
      border: 1px solid $stroke;
      padding: 1em;
      text-align: center;
      font: {
        size: 18px;
        family: "Gugi", monospace;
        weight: 500;
      }
    }
  }

  & tbody {
    & tr {
      height: 4em;
      position: relative;

      & td {
        border: 1px solid $stroke;
        padding: 0.75em;
        vertical-align: center;
      }

      & td:nth-child(1) {
        text-align: center;
      }
    }
  }
}

.html-subtitle {
  @include subtitle($html);
}

.css-subtitle {
  @include subtitle($css);
}

.html {
  strong {
    font-weight: 700;
    color: $html-stronger;
  }
}

hr {
  border: 1px dashed $stroke;
}

.css {
  color: $css-lighter;
}

article {
  text: {
    align: left;
    indent: 1em;
  }
  margin-bottom: 2em;
}

p {
  line-height: 1.7;
}
